name: Update News Daily
on:
  schedule:
    - cron: '0 */3 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Fetch News
        env:
          GNEWS_API_KEY: ${{ secrets.GNEWS_API_KEY }}
        run: python ./fetch_news.py # आपण येथे ./ लावून फाईल शोधणे सोपे केले आहे

      - name: Commit and Push changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add .
          git commit -m "Update news and images" || echo "No changes to commit"
          git push
